*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #f1f1f1;
}
 a{
  text-decoration: none;
  color: black;
}
.tablebody:hover{
  background-color:#c8c8c8;
}
.section{
  display: flex;
}
.choice{
  border: 2px solid red;
  padding: 20px;
}
.choice p{
  padding: 10px;
  background-color: rgb(240, 181, 44);
  margin: 5px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  text-align: center;
}
.header{
  text-align: center;
  margin: 60px;
  font-size: 25px;
}
.head{
  margin: 0px auto;
  text-align: center;
  font-size: 20px;
  background-color: rgb(247, 227, 7);
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

 .div1{
  font-size: 18px;
  width: 270px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(250, 150, 150);
  margin-left: 60px;
  margin-right: 60px;
}


.tree {
	width: 100%;
	height: auto;
	text-align: center;
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .5s;
}
.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .5s;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #000000;
	width: 51%;
	height: 10px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #000000;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #000000;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #000000;
	width: 0;
	height: 20px;
}
.tree li a {
	border: 1px solid #000000;
	padding: 10px;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
}
.tree li a img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px !important;
	border-radius: 100px;
	margin: auto;
}
.tree li a span {
	border: 1px solid #000000;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
.tree li a  p{
	border: 1px solid #000000;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
